.form-style-3{
    max-width: 450px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    flex-shrink: inherit;
}
.form-style-3 label{
    display:block;
    margin-bottom: 10px;
    flex-shrink: inherit
}
.form-style-3 label > span{
    float: left;
    width: 100px;
    color: black;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
    flex-shrink: inherit
}
.form-style-3 fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    /*border: 1px solid #FFD2D2;*/
    padding: 20px;
    flex-shrink: inherit
    /*box-shadow: inset 0px 0px 15px #FFE5E5;*/
    /*-moz-box-shadow: inset 0px 0px 15px #FFE5E5;*/
    /*-webkit-box-shadow: inset 0px 0px 15px #FFE5E5;*/
}
.form-style-3 fieldset legend{
    color: black;
    border-top: 1px solid #FFD2D2;
    border-left: 1px solid #FFD2D2;
    border-right: 1px solid #FFD2D2;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: white;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow:-0px -1px 2px #F1F1F1;
    -webkit-box-shadow:-0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 12px;
    flex-shrink: inherit
}
.form-style-3 textarea{
    width:250px;
    height:100px;
    flex-shrink: inherit
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select,
.form-style-3 textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid black;
    outline: none;
    color: #1a34f0;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px black;
    -moz-box-shadow: inset 1px 1px 4px black;
    -webkit-box-shadow: inset 1px 1px 4px #3648ff;
    background: white;
    width:50%;
    flex-shrink: inherit;
    -webkit-flex-shrink: inherit;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
    background: transparent;
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
    color: #fffe93;
    box-shadow: inset -1px -1px 3px black;
    -moz-box-shadow: inset -1px -1px 3px black;
    -webkit-box-shadow: inset -1px -1px 3px black;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
      flex-shrink: inherit;
    -webkit-flex-shrink: inherit;
}
.required{
    color:red;
    font-weight:normal;
      flex-shrink: inherit;
    -webkit-flex-shrink: inherit;
}

#box-wrapper-inner {
	display: -webkit-box;
	display: -moz-box;
      flex-shrink: inherit;
    -webkit-flex-shrink: inherit;


	-webkit-box-orient: inline-axis;
	-moz-box-orient: inline-axis;
	box-orient: inline-axis;
      flex-shrink: inherit;
    -webkit-flex-shrink: inherit;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
      flex-shrink: inherit;
    -webkit-flex-shrink: inherit;

	-webkit-box-direction: reverse;
	-moz-box-direction: reverse;
	box-direction: reverse;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
}

#box1 {
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;

	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
      flex-shrink: inherit;
    -webkit-flex-shrink: inherit;
}

#box2 {
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;

	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
}

#box3 {
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;

	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
}
