
.element-wrap {
     width: 800px;
     margin: 0 auto;
}

.allcard{
     text-shadow: 4px 3px 5px rgba(216, 25, 21, 0.99);
     font-family: Arial;
     align-content: center;
     font-size: medium;
     font-style: italic;
     color: aquamarine;
     text-align: center;
}

.filterbox{
    padding-left: 20px;
     padding-right: 20px;
     display: inline-block;
    width: auto;
    vertical-align: middle;

}


.cards{
     padding: 10px;
     display: flex;
     align-items: center;
     min-height: 127px;
     width: 75%;
     margin: 10px;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex: 0 1 calc(50% - .5em);
     -ms-flex: 0 1 calc(50% - .5em);
     flex: 0 1 calc(50% - .5em);
     margin-bottom: 1em;

}

.cards :hover
{
     animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
     transform: translate3d(0, 0, 0);
     backface-visibility: hidden;
     perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}